.button {
    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
}

.button:disabled {
    cursor: default;
}

.button--s{
    min-width: 140px;
    height: 36px;
    font-size: 14px;
    padding: 0 16px 0 16px;
}

.button--m{
    min-width: 140px;
    height: 44px;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.button--l{
    min-width: 140px;
    width: 150px;
    height: 52px;
    font-size: 16px;
    padding: 0 24px 0 24px;
}

.button--fill{
    background-color: var(--color-black);
    color: var(--color-white);
}

.button--fill:hover{
    background-color: var(--color-black-hover);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.0784);
}

.button--fill:active{
    background-color: var(--color-black-active);
    box-shadow: none;
}

.button--fill:disabled{
    background-color: var(--color-black);
    opacity: 0.4;
    box-shadow: none;
}

.button--outline{
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.button--outline:hover{
    background-color: var(--color-gray-hover);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.0784);
}

.button--outline:active{
    background-color: var(--color-gray-active);
    box-shadow: none;
}

.button--outline:disabled{
    background-color: var(--color-white);
    opacity: 0.4;
    box-shadow: none;
}

.button--text{
    background-color: var(--color-white);
    color: var(--color-black);
}

.button--text:hover{
    background-color: var(--color-gray-hover);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.0784);
}

.button--text:active{
    background-color: var(--color-gray-active);
    box-shadow: none;
}

.button--text:disabled{
    background-color: var(--color-white);
    opacity: 0.4;
    box-shadow: none;
}
