.page {
  padding: 24px;
  background: var(--color-white);
}

.button-table {
  display: grid;
  grid-template-columns:
        120px
        70px
        repeat(4, 190px);

  width: fit-content;

  border-top: 1px solid var(--color-light-gray);
  border-left: 1px solid var(--color-light-gray);
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  border-right: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.table-header {
  font-size: 14px;
  font-weight: 600;
}

.row-name {
  font-weight: 600;
}

.size-name {
  color: var(--color-gray);
}

.demo-hover,
.demo-hover:hover,
.demo-hover:active {
  background-color: var(--button-hover-background);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.0784);
}

.demo-active,
.demo-active:hover,
.demo-active:active {
  background-color: var(--button-active-background);
  box-shadow: none;
}